In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

In [11]:
df = pd.read_csv('no-show-issue-300k.csv')

In [12]:
df.head(10)

,Age,Gender,AppointmentRegistration,ApointmentData,DayOfTheWeek,Status,Diabetes,Alcoolism,HiperTension,Handcap,Smokes,Scholarship,Tuberculosis,Sms_Reminder,AwaitingTime
0,19,M,2014-12-16T14:46:25Z,2015-01-14T00:00:00Z,Wednesday,Show-Up,0,0,0,0,0,0,0,0,-29
1,24,F,2015-08-18T07:01:26Z,2015-08-19T00:00:00Z,Wednesday,Show-Up,0,0,0,0,0,0,0,0,-1
2,4,F,2014-02-17T12:53:46Z,2014-02-18T00:00:00Z,Tuesday,Show-Up,0,0,0,0,0,0,0,0,-1
3,5,M,2014-07-23T17:02:11Z,2014-08-07T00:00:00Z,Thursday,Show-Up,0,0,0,0,0,0,0,1,-15
4,38,M,2015-10-21T15:20:09Z,2015-10-27T00:00:00Z,Tuesday,Show-Up,0,0,0,0,0,0,0,1,-6
5,5,F,2014-06-17T06:47:27Z,2014-07-22T00:00:00Z,Tuesday,No-Show,0,0,0,0,0,0,0,1,-35
6,46,F,2015-06-19T19:53:58Z,2015-07-07T00:00:00Z,Tuesday,Show-Up,0,0,0,0,0,0,0,1,-18
7,4,F,2015-08-07T08:19:19Z,2015-08-21T00:00:00Z,Friday,Show-Up,0,0,0,0,0,1,0,1,-14
8,20,F,2014-10-14T11:46:36Z,2014-10-28T00:00:00Z,Tuesday,Show-Up,0,0,0,0,0,0,0,0,-14
9,51,F,2014-06-13T07:50:43Z,2014-06-17T00:00:00Z,Tuesday,Show-Up,1,0,1,0,0,0,0,1,-4

In [13]:
d = {'No-Show': False, 'Show-Up': True}

In [14]:
df.Status = df.Status.map(d)

In [15]:
df.head(10)

,Age,Gender,AppointmentRegistration,ApointmentData,DayOfTheWeek,Status,Diabetes,Alcoolism,HiperTension,Handcap,Smokes,Scholarship,Tuberculosis,Sms_Reminder,AwaitingTime
0,19,M,2014-12-16T14:46:25Z,2015-01-14T00:00:00Z,Wednesday,True,0,0,0,0,0,0,0,0,-29
1,24,F,2015-08-18T07:01:26Z,2015-08-19T00:00:00Z,Wednesday,True,0,0,0,0,0,0,0,0,-1
2,4,F,2014-02-17T12:53:46Z,2014-02-18T00:00:00Z,Tuesday,True,0,0,0,0,0,0,0,0,-1
3,5,M,2014-07-23T17:02:11Z,2014-08-07T00:00:00Z,Thursday,True,0,0,0,0,0,0,0,1,-15
4,38,M,2015-10-21T15:20:09Z,2015-10-27T00:00:00Z,Tuesday,True,0,0,0,0,0,0,0,1,-6
5,5,F,2014-06-17T06:47:27Z,2014-07-22T00:00:00Z,Tuesday,False,0,0,0,0,0,0,0,1,-35
6,46,F,2015-06-19T19:53:58Z,2015-07-07T00:00:00Z,Tuesday,True,0,0,0,0,0,0,0,1,-18
7,4,F,2015-08-07T08:19:19Z,2015-08-21T00:00:00Z,Friday,True,0,0,0,0,0,1,0,1,-14
8,20,F,2014-10-14T11:46:36Z,2014-10-28T00:00:00Z,Tuesday,True,0,0,0,0,0,0,0,0,-14
9,51,F,2014-06-13T07:50:43Z,2014-06-17T00:00:00Z,Tuesday,True,1,0,1,0,0,0,0,1,-4

In [19]:
print(df[df.Sms_Reminder == 1].Status.mean())
print(df[df.Sms_Reminder == 0].Status.mean())

stats.ttest_ind(df[df.Sms_Reminder == 1].Status,
                df[df.Sms_Reminder == 0].Status)

0.697938518874
0.697270259127

Ttest_indResult(statistic=0.393983868910256, pvalue=0.6935932295794931)