In [119]:
import numpy as np
import pandas as pd
import operator

In [120]:
def distance(instance1, instance2):
    instance1 = np.array(instance1)
    instance2 = np.array(instance2)
    
    return np.linalg.norm(instance1 - instance2)

In [121]:
print(distance([3, 5], [1, 1]))

4.472135955

In [122]:
music = pd.DataFrame()

# Some data to play with.
music['duration'] = [184, 134, 243, 186, 122, 197, 294, 382, 102, 264, 
                     205, 110, 307, 110, 397, 153, 190, 192, 210, 403,
                     164, 198, 204, 253, 234, 190, 182, 401, 376, 102]
music['loudness'] = [18, 34, 43, 36, 22, 9, 29, 22, 10, 24, 
                     20, 10, 17, 51, 7, 13, 19, 12, 21, 22,
                     16, 18, 4, 23, 34, 19, 14, 11, 37, 42]

# We know whether the songs in our training data are jazz or not.
music['jazz'] = [ 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
                  0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
                  1, 1, 1, 1, 0, 0, 1, 1, 0, 0]

In [123]:
music.head()

   duration  loudness  jazz
0       184        18     1
1       134        34     0
2       243        43     0
3       186        36     0
4       122        22     1

In [124]:
from sklearn.model_selection import train_test_split

In [125]:
X_train, X_test, y_train, y_test = train_test_split(
    music.iloc[:, 0:2], music.jazz, test_size=0.4, random_state=0)

In [126]:
X_train_vals = X_train.values
X_test_vals = X_test.values
y_train_vals = y_train.values
y_test_vals = y_test.values

In [127]:
distance(X_train_vals[1], X_train_vals[5])

297.06901555025894