In [106]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format
import seaborn as sns

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [95]:
raw_dataframe = pd.read_csv('new_york_by_city_2013_crime.csv')

In [96]:
dataframe = raw_dataframe.copy()

In [97]:
# nothing contained within this column
dataframe = dataframe.drop(dataframe.columns[4], axis=1)

In [98]:
# removes superscripts from column headers
dataframe.rename(columns = {list(dataframe)[4]: 'Rape', 'Arson3': 'Arson', 'Murder and\nnonnegligent\nmanslaughter': 'Murder/Manslaughter'}, inplace=True)

In [99]:
dataframe.head()

,City,Population,Violent crime,Murder/Manslaughter,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
0,Adams Village,"1,861",0,0,0,0,0,12,2,10,0,0.000
1,Addison Town and Village,"2,577",3,0,0,0,3,24,3,20,1,0.000
2,Akron Village,"2,846",3,0,0,0,3,16,1,15,0,0.000
3,Albany,"97,956",791,8,30,227,526,"4,090",705,"3,243",142,nan
4,Albion Village,"6,388",23,0,3,4,16,223,53,165,5,nan

In [100]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 12 columns):
City                   348 non-null object
Population             348 non-null object
Violent
crime          348 non-null object
Murder/Manslaughter    348 non-null int64
Rape                   348 non-null object
Robbery                348 non-null object
Aggravated
assault     348 non-null object
Property
crime         348 non-null object
Burglary               348 non-null object
Larceny-
theft         348 non-null object
Motor
vehicle
theft    348 non-null object
Arson                  187 non-null float64
dtypes: float64(1), int64(1), object(10)
memory usage: 32.7+ KB

In [101]:
# changes population and robbery columns to int types

dataframe['Population'] = dataframe['Population'].str.replace(',', '').astype(int)

dataframe['Robbery'] = dataframe['Robbery'].str.replace(',', '').astype(int)

In [102]:
dataframe['Population Squared'] = dataframe['Population'] ** 2

In [103]:
murders_happened = (dataframe['Murder/Manslaughter'] > 1)
robberies_happened = (dataframe['Robbery'] > 1)

In [133]:
# add boolean columns for murders and robberies
dataframe['Murders Happened'] = murders_happened
dataframe['Robberies Happened'] = robberies_happened